<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-lazy-init="true">
    <description>Sql Mapping</description>
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
    <bean id="dataSource_db01" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName.db01}"/>
        <property name="url" value="${jdbc.url.db01}"/>
        <property name="username" value="${jdbc.username.db01}"/>
        <property name="password" value="${jdbc.password.db01}"/>

        <property name="initialSize" value="${druid.initialSize}"/>
        <property name="minIdle" value="${druid.minIdle}"/>
        <property name="maxActive" value="${druid.maxActive}"/>

        <property name="maxWait" value="${druid.maxWait}"/>
        <property name="timeBetweenEvictionRunsMillis" value="${druid.timeBetweenEvictionRunsMillis}" />

        <property name="minEvictableIdleTimeMillis" value="${druid.minEvictableIdleTimeMillis}" />

        <property name="validationQuery" value="${druid.validationQuery}" />
        <property name="testWhileIdle" value="${druid.testWhileIdle}" />
        <property name="testOnBorrow" value="${druid.testOnBorrow}" />
        <property name="testOnReturn" value="${druid.testOnReturn}" />

        <property name="poolPreparedStatements" value="${druid.poolPreparedStatements}" />
        <property name="maxPoolPreparedStatementPerConnectionSize" value="${druid.maxPoolPreparedStatementPerConnectionSize}" />

        <property name="filters" value="${druid.filters}" />
    </bean>


    <bean id="dynamicDataSource" class="com.vpomo.shedule.util.db.DynamicDataSource" >
        <property name="targetDataSources">
            <map key-type="java.lang.String">
                <entry key="one" value-ref="dataSource_db01"></entry>
            </map>
        </property>
        <property name="defaultTargetDataSource" ref="dataSource_db01" >
        </property>
    </bean>

    <bean id="dataSourceProxy" class="org.springframework.jdbc.datasource.TransactionAwareDataSourceProxy">
        <property name="targetDataSource" ref="dynamicDataSource"/>
    </bean>


    <bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSourceProxy" />
        <property name="configLocation" value="classpath:conf/sqlmap-config.xml" />
        <property name="typeAliasesPackage" value="com.vpomo.shedule.model"/>
        <property name="mapperLocations">
            <list>
               <value>classpath*:mapper/*Mapper.xml</value>
            </list>
        </property>
    </bean>

    <!-- JDBC template -->
    <bean id="jdbcTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg>
            <ref bean="sessionFactory"></ref>
        </constructor-arg>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.vpomo.shedule.mapper" />
        <property name="sqlSessionFactoryBeanName" value="sessionFactory"/>
        <property name="sqlSessionTemplateBeanName" value="jdbcTemplate"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSourceProxy"></property>
    </bean>

    <tx:annotation-driven />

    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="save*" propagation="REQUIRED" />
            <tx:method name="add*" propagation="REQUIRED" />
            <tx:method name="update*" propagation="REQUIRED" />
            <tx:method name="delete*" propagation="REQUIRED" />
            <tx:method name="*" read-only="true" />
        </tx:attributes>
    </tx:advice>
    <aop:config>
     	<aop:pointcut id="allServiceMethod" expression="execution(* com.vpomo.shedule.service..service.*.*(..))" />
        <aop:advisor pointcut-ref="allServiceMethod" advice-ref="txAdvice" order="2" />
        <aop:advisor pointcut-ref="allServiceMethod" advice-ref="aop"  order="1"/>
    </aop:config>
    <bean class="com.vpomo.shedule.util.db.ADBAop" id="aop">
        <property name="defalutDataSource" value="one" />
    </bean>
</beans>
